---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import AffiliationSection from "../components/AffiliationSection.astro";
import LicenseSection from "../components/LicenseSection.astro";
import SkillSection from "../components/SkillSection.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
---

<Layout title="Kengo's profile">
  <main>
    <HeroSection />
    <AffiliationSection />
    <LicenseSection />
    <SkillSection />
    <ExperienceSection />
  </main>
</Layout>

<style>
  main {
    margin: 0 80px;
  }

  @media screen and (max-width: 599px) {
    main {
      margin: 0;
    }
  }
</style>
