---
---

<div class="affiliation-text">
  <h2>所属</h2>
  <div>
    <p>北海道情報専門学校　大学併修科</p>
    <p>北海道情報大学　通信教育部経営情報部　システム情報学科</p>
    <p>2026年卒</p>
  </div>
</div>

<style>
  .affiliation-text {
    display: flex;
  }
</style>