---
---
<div>
  <h2>実績・経験</h2>
  <div>
    <p>アクセンチュア株式会社　和魂偉才塾 エンジニア塾　参加予定</p>
    <p>株式会社PRTIMES ハッカソン　参加予定</p>
    <p>フロントエンドカンファレンス コアスタッフ</p>
    <p>Social Change Lab合同会社　長期インターン</p>
    <p>SAPPORO OPEN DATA HACK　最優秀賞</p>
  </div>
</div>

<style></style>