---

---

<div class="Experience-content">
  <h2>Achievements and Experience</h2>
  <p>実績・経験</p>
  <div class="Experience-text">
    <ul>
      <li>2024年9月</li>
      <li>
        アクセンチュア株式会社　インターン　和魂偉才塾 エンジニア塾　参加予定
      </li>
      <li>2024年8月</li>
      <li>株式会社PRTIMES HACKATHON 2024 Summer　参加予定</li>
      <li>2024年8月</li>
      <li>フロントエンドカンファレンス北海道2024 コアスタッフ</li>
      <li>2023年12月〜</li>
      <li>Social Change Lab合同会社　長期インターン</li>
      <li>2023年11月</li>
      <li>SAPPORO OPEN DATA HACK　最優秀賞</li>
    </ul>
  </div>
</div>

<style>
  .Experience-content {
    height: 490px;
    h2 {
      font-size: 2rem;
      text-align: center;
      padding: 2rem 2rem 0 2rem;
    }
    p {
      text-align: center;
    }
    .Experience-text {
      font-size: 1.5rem;
      padding: 30px 150px 0 150px;
      ul {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 3fr;
        li {
          padding: 10px 0;
          border-bottom: 1px solid #365069;
        }
      }
    }
  }
  @media screen and (max-width: 599px) {
    .Experience-content {
      h2 {
        font-size: 26px;
        padding: 0;
      }
      p {
        text-align: center;
      }
      .Experience-text {
        font-size: 14px;
        padding: 20px 20px;
      }
    }
  }
</style>
