---
---
<div class="header">
  <div class="header-left">
    <h1>ICON</h1>
  </div>
  <div class="header-right">
    <ul>
      <li>TOP</li>
      <li>Skill</li>
      <li>experience</li>
    </ul>
  </div>
</div>

<style>
  .header {
    display: flex;
    
  }

  .header-right ul {
    display: flex;
    
  }
</style>