---

---
<div class="Hero-content">
  <div>
    icon
  </div>
  <div>
    <div>
      <h2>Saito Kengo</h2>
      <p>斉藤　賢悟</p>
    </div>
  </div>
</div>

<style>
  .Hero-content {
    display: flex;
  }
</style>