---

---

<div class="License-content">
  <div class="License-box">
    <div class="License">
      <h2>License</h2>
      <p>免許</p>
      <ul>
        <li>普通自動車免許</li>
        <li>自動二輪免許</li>
        <li>特殊船舶免許</li>
        <li>２級小型船舶免許</li>
      </ul>
    </div>
    <div class="Qualifications">
      <h2>Qualifications</h2>
      <p>資格</p>
      <ul>
        <li>ITパスポート</li>
        <li>基本情報技術者試験</li>
        <li>応用情報技術者試験</li>
      </ul>
    </div>
  </div>
</div>

<style>
  .License-content {
    width: 100%;
    height: 400px;
    .License-box {
      height: 100%;
      margin: auto;
      text-align: center;
      display: grid;
      grid-template-columns: 1fr 1fr;
      h2 {
        font-size: 2rem;
        padding: 2rem 2rem 0 2rem;
      }
      ul {
        list-style: none;
        padding-top: 4rem;
      }
      li {
        font-size: 1.5rem;
        margin-bottom: 5px;
      }
    }
  }
  @media screen and (max-width: 599px) {
    .License-content {
      width: 100%;
      height: 500px;
      .License-box {
        display: block;
        h2 {
          font-size: 26px;
          padding-top: 25px;
        }
        ul {
          padding-top: 25px;
        }
        li {
          font-size: 20px;
        }
      }
    }
  }
</style>
