---
import SkillCard from "./ui/SkillCard.astro";
---

<div class="skill-content">
  <h2>Skill</h2>
  <p>スキル</p>
  <div>
    <SkillCard />
  </div>
</div>

<style>
  .skill-content {
    height: 580px;
    text-align: center;
    h2 {
      font-size: 2rem;
      padding: 2rem 2rem 0 2rem;
    }
  }
</style>
